{% extends 'common/layouts/base.html' %}
{% load i18n %}

{% block header %}
<header class="fixed w-full bg-white border-b border-zinc-200 z-50">
  <div class="px-4 py-3 flex items-center justify-start">
    <a href="{% url 'inventory:home' %}">
      {% include "common/includes/logo.html" %}
    </a>
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen px-4 pt-20 pb-4 w-full flex items-center justify-center">
  <div class="max-w-md text-center flex flex-col gap-4">

    <h1 class="text-zinc-900 text-xl sm:text-2xl font-bold">
      {% trans "Email sent!" %}
    </h1>

    <p class="text-zinc-500 text-sm sm:text-base">
      {% trans "If the email you entered is registered, you will receive a link to reset your password." %}
    </p>

    <a href="{% url 'account:login' %}"
       class="text-zinc-500 hover:text-zinc-900 text-sm sm:text-base">
      {% trans "Back to login" %}
    </a>

  </div>
</main>
{% endblock %}
