{% extends 'common/layouts/base.html' %}
{% load i18n %}

{% block header %}
<header class="fixed w-full bg-white border-b border-zinc-200 z-50">
  <div class="px-4 py-3 flex items-center justify-start">
    <a href="{% url 'inventory:home' %}">
      {% include "common/includes/logo.html" %}
    </a>
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen px-4 pt-20 pb-4 w-full flex items-center justify-center">
  <div class="max-w-md text-center flex flex-col gap-4">

    <h1 class="text-zinc-900 text-xl sm:text-2xl font-bold">
      {% trans "Password changed successfully!" %}
    </h1>

    <p class="text-zinc-500 text-sm sm:text-base">
      {% trans "You can now log in using your new password." %}
    </p>

    <a href="{% url 'account:login' %}"
       class="bg-zinc-900 text-white py-2 px-4 rounded hover:bg-zinc-800 transition inline-block font-medium">
      {% trans "Go to login" %}
    </a>

  </div>
</main>
{% endblock %}
