{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'en' }}">
<head>
    <title>{% block title %}{% trans "Link Shortener" %}{% endblock %}</title>
    {% include "common/includes/builtin.html" %}
    {% block extrahead %}{% endblock %}
</head>

<body class="bg-zinc-950 min-h-screen flex flex-col font-[Inter]">
    {% block header %}
        {% include 'common/includes/header.html' %}
    {% endblock %}

    <main class="flex-grow pt-16">
        <div class="w-full max-w-[1440px] mx-auto">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% block footer %}
        {% include 'common/includes/footer.html' %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}

    <script src="{% static 'common/js/utilities.js'%}"></script>
    <script src="{% static 'common/js/gradient-header.js' %}"></script>
    <script src="{% static 'dashboard/js/url_actions.js' %}"></script>
    <script src="{% static 'common/js/ads.js' %}" defer></script>
</body>
</html>
