{% load static %}
{% load assets %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'pt-br' }}">
<head>
    <title>{% block title %}Monium{% endblock %}</title>
    {% include "common/includes/builtin.html" %}
    {% block extrahead %}{% endblock %}
</head>

<body class="bg-white min-h-screen flex flex-col font-sans">
    {% block header %}
        {% include 'common/includes/header.html' %}
    {% endblock %}

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'common/includes/footer.html' %}
    {% endblock %}
    
    {% include "common/includes/messages.html" %}

    {% block scripts %}
    {% endblock %}

    <script src="{% ts 'common/js/utilities.ts' %}"></script>
    <script src="{% ts 'common/js/gradient-header.ts' %}"></script>
    {% include "common/includes/ui_scripts.html" %}
</body>
</html>
