.git
.gitignore
.env*
!.env

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.egg-info
.eggs
dist
build

.pytest_cache
.ruff_cache
.mypy_cache
.tox
.coverage
htmlcov

logs/
*.log

media/

.venv
venv

node_modules/

static/
apps/**/static/**/dist/
